.tab-group {
  display: flex;
  gap: 2.5rem;
}

.navLink{
    padding-block:2rem;
    color: var(--white);
    text-decoration: none;
    user-select: none;
    border-bottom: solid transparent 3px ;
    position: relative;
}

.navLink:hover{
    border-color:var(--light-gray) ;
}

.hamburger{
    border-right: solid transparent 3px ;
    border-bottom: none;
    padding-block: .3rem;

}
.active.hamburger, .navLink:hover.active.hamburger{
    border-color: var(--white);
}

.tab-group:has(.hamburger){
    flex-direction: column;
}

.underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 3px;
    background: var(--white) ;
}
  