#nSlider div{
  border-radius: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid var(--light-gray) 2px;
  font-size: 32px;
  height: 70px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  user-select: none;
  cursor: pointer;
font-family: var(--font);
}

#nSlider div:hover {
  border-color: var(--white);
}

#nSlider div.active,
#nSlider div:hover.active {
  background-color: var(--white);
  border-color: transparent;
  color: var(--navy);
}

#nSlider {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1220px) {
  #nSlider div{
    height: 50px;
    width: 50px;
  font-size: 20px;

  }

  #nSlider{
  flex-direction: row;

  }
}




#dotSlider {
  display: flex;
  gap: 1.3rem;

}

#dotSlider div {
  height: 13px;
  width: 13px;
  background-color: var(--light-gray);

  border: solid transparent;
  border-radius: 100px;
  margin: auto;
  cursor: pointer;
}

#dotSlider div.active , #dotSlider div:hover {
  background-color: white;
}
